<div class= "fes">
 <div class="up-fes">
  <div class= "left-up">
    <%= image_tag 'extra.jpg', class:'fes-photo-two' %>
  </div>
  <div class= "right-up">
      <font size="10px">　スプラトゥーンシリーズ</font>
    <%= link_to image_tag("splatoon.jpg", class:"fes-photo-two"), spla1s_path %>
    <font size="5px">　画面タップで一覧ページへ</font>
  </div>
 </div>
 
 <div class= "down-fes">
    <div class="left-down">
        <font size="10px">　スプラトゥーン2シリーズ</font>
        <%= link_to image_tag("splatoon2.jpg", class:"fes-photo-two"), spla2s_path %>
        <font size="5px">　画面タップで一覧ページへ</font>
    </div>
    <div class="right-down">
        <font size="10px">　スプラトゥーン３シリーズ</font>
        <%= link_to image_tag("splatoon3.jpg", class:"fes-photo-two"), spla3s_path %>
        <font size="5px">　画面タップで一覧ページへ</font>
    </div>
 </div>
</div>
